*{
 margin:0;
    padding: 0; box-sizing: border-box;
}

body{
  background: #ecf0f3 
    
}

.navbar{
    display: flex;
    align-items: center;
    padding:20px;
    
}

nav{
    flex:1;
    text-align: right;
}


nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
   display: inline-block;
    padding: 10px 30px;
    
    
}
a{
  text-decoration: none;  
    font-family: monospace;
    font-size: 16px;
    color: #131;transition: transform 0.s
}
.logo{
    margin:0 30px;;
    
}

a:hover{
    background: #292;
    border-radius: 5px;
    
}

.row{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
   align-items: center;
}

.container{
    
    max-width: 1300px;
   
    margin-top: 70px;
    
}

.col-2{
    flex-basis: 50%;
 
    
}

.col-2 h1{
  margin: 0 30px;font-size: 40px;  
    
}

.col-2 img{
    max-width: 100%;
    padding:50px 0;}


.header{
    background:#345678;
    
    
}

.col-3{
    flex-basis: 10%;
    min-width:250px;
    }


.col-3 img{
    
    width:100%;
    
    
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding:0 25px;
    
    
}







































































